.nav{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 900px;
    background-color: rgb(73, 73, 73);
    height: 70px;
}

.nav-title{
    float: left;
    font-size: 25px;
    margin-left: 10px;
    color: white;
}

.nav-links{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    list-style-type: none;
}

li{
    margin: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    background-color: rgb(47, 139, 175);
    border: 2px solid black;
}

body{
    font-family: 'Roboto', sans-serif;
}